body {
    background-color: #0B243B;
}

header {
    background-color: #000;
    padding: 1%;
    box-shadow: 0 0 5px;
}

.cabecalho {
    font-family: 'Piedra', cursive;
    /*position: fixed;*/
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #000;
}

.cabecalho h1,
h2 {
    font-weight: bold;
    padding: 5px;
    color: #fff;
}

.cabecalho h1 {
    font-size: 6em;
}

.cabecalho h2 {
    font-size: 1.8em;
}

.local {
    width: 60px;
    padding: 10px;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 100px;
    margin: 1% 0 0 48%;
}

.navegacao nav a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.navegacao nav ul {
    position: absolute;
    right: 0;
    top: 30%;
}

.navegacao nav li {
    display: inline;
    padding: 10px;
    transition: 0.5s all;
}

.navegacao nav li:hover {
    opacity: 0.3;
    border-bottom: 3px solid white;
}

.navegacao nav li:active {
    text-decoration: underline;
}

.conteudo1 {
    position: relative;
    width: 940px;
    margin: 1%;
}

.conteudo1 .titulo-conteudo {
    font-size: 30px;
    color: #fff;
}

.conteudo1 #imgfixar {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.corpo {
    display: inline-block;
    width: 940px;
    margin: 1% 0;
    padding: 50px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px -1px 5px;
}

.poema {
    width: 600px;
    margin-left: 2%;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 5px;
}

.poema span {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.poema .autor-poema {
    font-style: italic;
    text-decoration: none;
}

.poema .autor-poema:before {
    content: "- ";
}

.poema h1,
p {
    font-style: italic;
}

.poema h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.poema p {
    padding: 10px;
    margin: 0 100px;
    margin-left: 25%;
    line-height: 20px;
}

.videos-conteudo1 {
    position: absolute;
    right: 0;
    top: 15.5%;
}

.videos-conteudo1 iframe {
    display: inline-block;
    margin: 10px;
}

body {
    position: relative;
}

#videos-motivacionais {
    position: absolute;
    /*top: 325px;*/
    top: 20%;
    right: 0.5%;
}

.lista-acoes {
    width: 920px;
    margin: 0 0 0 1%;
}

.lista-acoes ul {
    width: 100%;
    padding: 1%;
    display: inline-block;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
}

.lista-acoes ul li {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1%;
    color: #fff;
    transition: 0.5s all;
}

.lista-acoes ul li:hover {
    opacity: 0.3;
    cursor: pointer;
}

#lista-acoes-fotos {
    width: 940px;
    height: 400px;
    transition: 0.5s all;
}

.section-comentarios {
    width: 900px;
    margin: 2% 1%;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px;
}

.add-comentarios {
    font-family: 'Montserrat', sans-serif;
    width: 900px;
    margin: 20px auto;
}

.add-comentarios #user {
    width: 150px;
}

.add-comentarios #addComentario {
    width: 300px;
}

.add-comentarios label {
    font-weight: bold;
    margin-right: 7%;
    display: inline-block;
}

#botao-add {
    background-color: #0431B4;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid none;
    border-radius: 5px;
    transition: all 0.5s;
}

#botao-add:hover {
    opacity: 0.7;
    background: blue;
}

.comentario {
    font-family: 'Montserrat', sans-serif;
    width: 900px;
    margin: 20px auto;
}

.comentario caption {
    box-shadow: 0px 0px 2px;
    font-weight: bold;
    padding: 5px 0;
}

.comentario table {
    width: 100%;
}

.comentario table tr {
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}

.comentario table tr td {
    padding: 10px;
    color: #585858;
}

.comentario table tr td:first-child:before {
    content: "[ ";
}

.comentario table tr td:first-child:after {
    content: " ]";
}

.comentario table tr td:first-child {
    font-weight: bold;
}

footer {
    position: relative;
    background-color: #000;
    padding: 5px;
}

footer .dev {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

footer #logo {
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px 50px 5px 50px;
    transition: all 0.5s;
}

footer #logo:hover {
    opacity: 0.3;
}

footer #instagram {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40%;
    margin-right: 1%;
    transition: 0.5s all;
}

footer #instagram:hover {
    width: 35px;
}

footer p {
    font-size: 1.2em;
    font-family: monospace;
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 50%;
    left: 44%;
}


/*Videos motivacionais*/

#titulo-videos {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    padding: 20px;
    margin: 0 0 1% 0;
    color: #fff;
    background-color: #000;
}

.videos-motivacao {
    display: block;
    margin: 0 0 1% 0;
}


/*Contato*/

.lista-contato ul img {
    border: 1px solid #0B243B;
    border-radius: 100px;
}

.lista-contato ul li {
    margin: 3% 10%;
}

.lista-contato ul {
    margin-bottom: 5%;
}

.lista-contato strong {
    margin: 0 10px;
}

.lista-contato a,
.projeto {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #fff;
}

.projeto {
    text-decoration: underline;
    margin: 5% 10%;
    font-size: 1.5em;
}

.footer-contato {
    margin-top: 1%;
}

@media screen and ( max-width: 1420px) {
    header,
    main,
    footer {
        width: 100%;
    }
    .cabecalho hgroup,
    .navegacao nav {
        margin: 0 0 0 9%;
    }
    .cabecalho hgroup h1 {
        font-size: 7em;
    }
    .cabecalho hgroup h2 {
        font-size: 2.5em;
    }
    .navegacao nav ul {
        position: static;
        margin: 2% 0;
    }
    .navegacao nav a {
        font-size: 1.4em;
        background-color: darkcyan;
        border-radius: 10px;
    }
    .navegacao nav li {
        margin: 0 50px;
    }
    .navegacao nav li:hover {
        opacity: 1;
        border-bottom: 0px solid white;
        margin: 0 45px;
    }
    .navegacao nav li:active {
        text-decoration: none;
    }
    .local {
        margin: 1% 0 0 45%;
    }
    .conteudo1 {
        width: 90%;
        margin: 5% 10%;
    }
    .conteudo1 .titulo-conteudo {
        font-size: 35px;
        font-weight: bold;
    }
    #imgfixar {
        margin-right: 7%;
    }
    .conteudo1 span {
        font-size: 0.7em;
    }
    .conteudo1 .autor-poema {
        font-size: 0.6em;
    }
    .corpo {
        width: 90%;
        padding: 25px 0;
    }
    .poema {
        width: 85%;
        margin-left: 4%;
        box-shadow: 1px 1px 5px;
        ;
    }
    .poema p {
        padding: 10px;
        margin: 0 5%;
        line-height: 20px;
    }
    .videos-conteudo1 {
        position: static;
        margin: 4% 0 0 20px;
    }
    .videos-conteudo1 #filipe,
    #poemaL {
        width: 450px;
        height: 355px;
        border-left: 50px solid rgba(0, 0, 0, 0.9);
        border-right: 50px solid rgba(0, 0, 0, 0.9);
        border-top: 10px solid rgba(0, 0, 0, 1);
        border-bottom: 10px solid rgba(0, 0, 0, 1);
    }
    #videos-motivacionais {
        position: static;
        width: 80%;
        height: 450px;
        margin: 0 10% 5% 10%;
    }
    .lista-acoes {
        width: 820px;
        margin: 5% auto 10% auto;
    }
    .lista-acoes ul {
        margin: 2% 0;
        padding: 0;
    }
    .lista-acoes ul li {
        font-size: 2em;
        text-decoration: underline;
    }
    .lista-acoes ul li:hover {
        opacity: 0.3;
        cursor: pointer;
    }
    #lista-acoes-fotos {
        width: 820px;
    }
    .section-comentarios {
        width: 80%;
        margin: 25px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 3px;
        box-shadow: 1px 1px 5px;
    }
    .add-comentarios label {
        font-size: 1.5em;
        margin: 0.5% 0;
        display: block;
    }
    .add-comentarios #user {
        width: 50%;
        font-size: 1.2em;
    }
    .add-comentarios #addComentario {
        width: 50%;
        font-size: 1.2em;
    }
    #botao-add {
        display: block;
        margin: 2% 0;
        font-size: 1.5em;
    }
    #comentarios {
        font-size: 1.5em;
    }
    #lista-comentarios td {
        font-size: 1.5em;
    }
    .add-comentarios input {
        padding: 1.5%;
    }
    .comentario {
        width: 100%;
        margin: 20px auto;
    }
    footer #logo {
        width: 10%;
    }
    footer .dev {
        font-size: 0.5em;
    }
    footer #instagram {
        margin-right: 5%;
        width: 5%;
    }
    footer p {
        font-size: 1.8em;
        position: absolute;
        top: 40%;
        left: 35%;
    }
    .lista-contato ul {
        margin-bottom: 100%;
    }
    .lista-contato ul li {
        margin: 5% 10%;
    }
    .lista-contato a,
    .projeto {
        font-size: 1.5em;
    }
    .projeto {
        font-size: 1em;
    }
}