body {
    background-color: #F2F2F2;
    opacity: 0.8; 
}

header {
    background-color: #000;
    padding: 20px;
    box-shadow: 0 0 5px;
}

.cabecalho {
    font-family: 'Piedra', cursive;
    /*position: fixed;*/
    position: relative;
    width: 940px;
    margin: 0 auto;
    background-color: #000;
}

.cabecalho h1, h2 {
    font-weight: bold;
    padding: 5px;
    color: #fff;
}

.cabecalho h1 {
    font-size: 70px;
}

.cabecalho h2 {
    font-size: 20px;
}

.navegacao nav a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.navegacao nav ul {
    position: absolute;
    right: 0;
    top: 30%;
}

.navegacao nav li {
    display: inline;
    padding: 10px;
    transition: 0.5s all;
}

.navegacao nav li:hover {
    opacity: 0.3;
}

.navegacao nav li:active {
    text-decoration: underline;
}

.conteudo1 {
    position: relative;
    width: 940px;
    margin: 50px auto;
}

.conteudo1 .titulo-conteudo {
    font-size: 30px;
}

.conteudo1 #imgfixar {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.corpo {
    width: 940px;
    margin: 20px auto;
    padding: 50px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px -1px 5px;
}

.poema {
    width: 600px;
    margin-left: 2%;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 5px;
}

.poema span {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.poema .autor-poema {
    font-style: italic;
    text-decoration: none;
}

.poema .autor-poema:before {
    content: "- ";
}

.poema h1, p {
    font-style: italic;
}

.poema h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.poema p {
    padding: 10px;
    margin: 0 100px;
    font-weight: bold;
    margin-left: 25%;
    line-height: 20px;
}

.videos-conteudo1 {
    position: absolute;
    right: 0;
    top: 15.5%;
}

.videos-conteudo1 iframe {
    display: inline-block;
    margin: 20px;
}

.section-comentarios {
    width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px;
}

.add-comentarios {
    font-family: 'Montserrat', sans-serif;
    width: 900px;
    margin: 20px auto;
}

.add-comentarios #user {
    width: 150px;
}

.add-comentarios #addComentario {
    width: 300px;
}

.add-comentarios label {
    font-weight: bold;
    margin-right: 7%;
    display: inline-block;
}

#botao-add {
    background-color: #0431B4;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid none;
    border-radius: 5px;
    transition: all 0.5s;
}

#botao-add:hover {
    opacity: 0.7;
    background: blue;
}

.comentario {
    font-family: 'Montserrat', sans-serif;
    width: 900px;
    margin: 20px auto;
}

.comentario caption {
    box-shadow: 0px 0px 2px;
    font-weight: bold;
    padding: 5px 0;
}

.comentario table {
    width: 100%;
}

.comentario table tr {
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}

.comentario table tr td {
    padding: 10px;
    color: #585858;
}

.comentario table tr td:first-child:before {
    content: "[ ";
}

.comentario table tr td:first-child:after {
    content: " ]";
}

.comentario table tr td:first-child {
    font-weight: bold;
}

footer {
    position: relative;
    background-color: #000;
    padding: 5px;
}

footer #logo {
    margin-top: 20px;
    display: inline-block;
    border-radius: 100%;
    transition: all 0.5s;
}

footer #logo:hover {
    opacity: 0.3;
}

footer #instagram {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40%;
    margin-right: 20px;
    transition: 0.5s all;
}

footer #instagram:hover {
    width: 35px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 50%;
    left: 42%;
}

@media screen and ( max-width: 940px ) {

    header, main, footer {
        width: 100%;
    }
    
    .cabecalho hgroup h1 {
        font-size: 2em;
    }

    .cabecalho hgroup h2 {
        font-size: 14px;
    }

    .navegacao nav ul {
        position: static;
        margin: 15px 0;
    }

    .navegacao nav a {
        text-decoration: underline;
        font-size: 15px;
        color: #ddd;
        font-family: 'Montserrat', sans-serif;
    }

    .conteudo1 {
        width: 90%;
        margin: 50px auto;
    }

    .corpo {
        width: 90%;
        padding: 25px 0;
    }

    .poema {
        width: 85%;
        margin-left: 4%;
        box-shadow: 1px 1px 5px;;
    }

    .poema p {
        padding: 10px;
        margin: 0 5%;
        font-weight: bold;
        line-height: 20px;
    }

    .videos-conteudo1 {
        position: static;
    }

    .section-comentarios {
        width: 80%;
        margin: 25px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 3px;
        box-shadow: 1px 1px 5px;
    }

    .add-comentarios label {
        margin: 0.5% 0;
        display: block;
    }

    .add-comentarios #user {
        width: 20%;
    }
    
    .add-comentarios #addComentario {
        width: 20%;
    }

    #botao-add {
        display: block;
        margin: 1% 0;
    }

    .add-comentarios input {
        padding: 0.5%;
    }

    .comentario {
        width: 100%;
        margin: 20px auto;
    }

    footer #logo {
        width: 10%;
    }

    footer #instagram {
        margin-right: 5%;
        width: 5%;
    }

    footer p {
        position: absolute;
        top: 40%;
        left: 20%;
    }
}